 body {
     font-family: 'Segoe UI', sans-serif;
 }

 /* Navbar */
 .navbar-brand,
 .navbar {
     background-color: #120D31;
     font-size: 1.3rem;
 }

 .navbar-nav .nav-link {
     color: white;
 }

 .navbar-nav .nav-link:hover {
     color: #7796CB;
 }

 /* Hero Section */
 .hero {
     background-image: url(others.jpg);
     background-size: cover;
     background-position: center;
     height: 400px;
     display: flex;
     align-items: center;
     justify-content: center;
     color: white;
     position: relative;
 }

 .hero::before {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: rgba(18, 13, 49, 0.5);
     z-index: 1;
 }

 .hero .container {
     position: relative;
     z-index: 2;
 }


 .btn-info {
     background-color: #3471da;
     border: none;
 }

 .btn-info:hover {
     background-color: #296bce;
 }

 /* Pet Category */
 .category-card img {
     height: 200px;
     object-fit: cover;
 }

 .border {
     border-color: #7796CB;
 }

 .card-dark {
     background-color: #1f1b3a;
     color: white;
     border: none;
     height: 100%;
     border-radius: 10px;
     overflow: hidden;
 }

 .card-dark .card-body {
     flex-grow: 1;
 }

 .card-dark img {
     border-bottom: 1px solid #2e2a50;
     height: 220px;
     object-fit: cover;
     width: 100%;
 }

 .card-dark {
     display: flex;
     flex-direction: column;
 }

 /* Footer */
 footer {
     background-color: #120D31;
     color: white;
 }